@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* outline: 2px solid red; */
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    max-height: 100%;
    background-color: black;
    color: white;
}

img {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    min-height: auto;
    height: 50px;
    margin: 25px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 56px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    gap: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.center {
    justify-content: center;
}

.number {
    background: #011ffd;
    color: #fff;
    font-size: 7rem;
    width: 15rem;
    padding: 3rem 0rem;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    margin-inline: 20px;
    gap: 20px;
    width: auto;
}

#numbers {
    min-height: 100px;
    max-width: 400px;
    font-size: 56px;
    color: #011ffd;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #numbers {
        max-width: 260px;
    }
  }
  

.button-flex {
    display: flex;
    gap: 10px;
}

.input-button {
    background: transparent;
    color: #fff;
    min-height: 50px;
    width: 200px;
    font-size: 14px;
    font-weight: 900;
    border: 1px solid #fff
}

.btn,
.againbutton {
    background: transparent;
    color: #fff;
    min-height: 50px;
    width: 50px;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid #fff
}

.btn:hover,
.againbutton:hover {
    background-color: #fff;
    color: #000;
    transition: ease-in-out 0.25s;
}

.input-button:hover {
    background-color: #fff;
    color: #000;
    transition: ease-in-out 0.25s;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10px;
    padding: 20px;
    margin-inline: 20px;
    width: auto;
}